{
  "extends": "eslint:recommended",
  "env": { "node": true, "es6": true },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "script"
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": [
      "warn", {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-case-declarations": "warn"
  }
}
